<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <ui:composition>
    <pe:layoutPane id="namespacePanel" position="center">
      <p:panel  header="Config Projects" style="width: 70%; margin: auto" styleClass="app-context">
        <p:messages>
          <p:autoUpdate/>
        </p:messages>
        <h:form>
          <p:dataTable value="#{configProjectDataController.configProjectDatas}"
                       var="cp"
                       rowKey="#{cp.uuid}"
                       editable="true">
            <p:ajax event="rowEdit" listener="#{configProjectDataController.updateConfigProjectData}"/>
            <p:column style="width: 20px">
              <p:rowToggler/>
            </p:column>
            <p:column headerText="Name">#{cp.name}</p:column>
            <p:column headerText="Description">
              <p:cellEditor>
                <f:facet name="output">
                  <h:outputText value="#{cp.description}"/>
                </f:facet>
                <f:facet name="input">
                  <p:inputTextarea id="projectDescription"
                                   required="true"
                                   style="height: 50px; width: 98.5%; margin-top: 10px"
                                   requiredMessage="Please enter the project description"
                                   value="#{cp.description}"/>
                </f:facet>
              </p:cellEditor>
            </p:column>
            <p:column style="width:32px">
              <p:rowEditor />
            </p:column>
          </p:dataTable>
        </h:form>
        <br/>
        <h:form id="newConfigProjectData">
          <p>Please add a unique name for the new project.</p>
          <p:separator/>
          <h:outputText value="Project Name:"/>
          <p:inputText id="projectName"
                       required="true"
                       style="margin-top: 10px; margin-bottom: 10px"
                       requiredMessage="You must enter the project name"
                       value="#{configProjectDataController.configProjectData.name}"/>
          <br/>
          <h:outputText value="Project Description:"/>
          <p:inputTextarea id="projectDescription"
                           required="true"
                           style="height: 50px; width: 98.5%; margin-top: 10px"
                           requiredMessage="Please enter the project description"
                           value="#{configProjectDataController.configProjectData.description}"/>
          <p:separator/>
          <p:commandButton ajax="false"
                           style="float: left; margin-right: 1.5%"
                           value="Save"
                           action="#{configProjectDataController.addOrConfigProjectData}"/>
        </h:form>
        <h:form>
          <p:commandButton ajax="false"
                           value="Back"
                           partialSubmit="true"
                           process="@this"
                           style="float: left; margin-right: 1.5%"
                           actionListener="#{configProjectDataController.cancelAddOrUpdateConfigData()}"
                           oncomplete="location.reload(true);"/>
        </h:form>
        <div class="clear"></div>
      </p:panel>
    </pe:layoutPane>
  </ui:composition>
</html>