<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <ui:composition>
    <h:panelGroup id="configprojectBlock" 
                  layout="block"
                  style="width: 100%; display: inline-block; margin-bottom: 10px; margin-top: 10px;">
      <p:fieldset toggleable="true" 
                  collapsed="false"
                  legend="Config Project: (#{configProjectSelectController.currentConfigProjectData.name})">
        <h:form>
          <h:selectOneMenu value="#{configProjectSelectController.currentConfigProjectData}" style="width: 100%">
            <f:selectItems value="#{configProjectSelectController.configProjectDatas}"/>
            <p:ajax listener="#{configProjectSelectController.onConfigProjectChanged()}" oncomplete="location.reload(true);"/>
          </h:selectOneMenu>
        </h:form>
      </p:fieldset>
    </h:panelGroup>
  </ui:composition>
</html>

