<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pp="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
  <ui:composition>
    <h:panelGroup id="applicationContextBlock" 
                  layout="block"
                  style="width: 100%; display: inline-block; margin-bottom: 10px; margin-top: 10px;">
      <h:form id="applicationContextForm">
        <p:fieldset toggleable="true"
                    collapsed="false"
                    legend="Application Contexts: (#{applicationContextController.currentContext.displayName})">
          <p:accordionPanel var="cxt" 
                            value="#{applicationContextController.getCurrentApplicationModeContexts()}"
                            activeIndex="#{applicationContextController.applicationContextActiveTab}">
            <p:ajax event="tabChange" 
                    listener="#{applicationContextController.onApplicationContextSelected}"
                    update=":namespacePanelBlock @form :configurationDetailPanel"/>
            <p:tab id="applicationContextPanel" 
                   title="#{cxt.displayName}" 
                   titleStyle="cxt_#{cxt.contextId}"
                   titleStyleClass="app-context"
                   pp:data-context-id="#{cxt.contextId}"
                   pp:data-context="true">
              <p:panelGrid columns="1" style="width: 100%">
                <ui:fragment rendered="#{not empty cxt.topLevelDomain}">
                  <h:outputText value="Top Level Domain" style="width: 150px; display: inline-block;"/>
                  <h:outputText value="#{cxt.topLevelDomain}" />
                </ui:fragment>
                <ui:fragment rendered="#{not empty cxt.languageCode}">
                  <h:outputText value="Language Code" style="width: 150px; display: inline-block;"/>
                  <h:outputText value="#{cxt.languageCode}" />
                </ui:fragment>
                <ui:fragment rendered="#{not empty cxt.countryCode}">
                  <h:outputText value="Country Code" style="width: 150px; display: inline-block;"/>
                  <h:outputText value="#{cxt.countryCode}" />
                </ui:fragment>
              </p:panelGrid>
              <p:separator/>
            </p:tab>
          </p:accordionPanel>
        </p:fieldset>
      </h:form>
    </h:panelGroup>
  </ui:composition>
</html>

