<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <ui:composition>
    <pe:layoutPane id="namespacePanel" position="center">
      <p:panel  header="New Application Context" style="width: 70%; margin: auto" styleClass="app-context">
        <p:messages>
          <p:autoUpdate/>
        </p:messages>
        <h:form id="newapplicationcontextform">
          <p:panelGrid columns="1" style="width: 98.5%">

            <ui:fragment rendered="#{configurationFeatureController.applicationModeActive}">
              <h:outputLabel value="Application Mode" for="applicationMode"/>
              <p:inputText id="applicationMode" readonly="true" style="width: 98.5%"
                           value="#{newApplicationContextController.newApplicationContext.applicationMode}"/>
            </ui:fragment>

            <ui:fragment rendered="#{configurationFeatureController.topLevelDomainActive}">
              <h:outputLabel value="Domain (TLD)" for="tld"/>
              <p:selectOneMenu id="tld"  style="width: 100%"
                               value="#{newApplicationContextController.newApplicationContext.topLevelDomain}">
                <f:selectItems value="#{newApplicationContextController.tlds}"/>
              </p:selectOneMenu>
            </ui:fragment>

            <ui:fragment rendered="#{configurationFeatureController.languageActive}">
              <h:outputLabel value="Language Code" for="language"/>
              <p:selectOneMenu id="language" style="width: 100%"
                               value="#{newApplicationContextController.newApplicationContext.languageCode}">
                <f:selectItems value="#{newApplicationContextController.languages}"/>
              </p:selectOneMenu>
            </ui:fragment>

            <ui:fragment rendered="#{configurationFeatureController.countryActive}">
              <h:outputLabel value="Country Code" for="country"/>
              <p:selectOneMenu id="country" style="width: 100%"
                               value="#{newApplicationContextController.newApplicationContext.countryCode}">
                <f:selectItems value="#{newApplicationContextController.countries}"/>
              </p:selectOneMenu>
            </ui:fragment>
          </p:panelGrid>
          <br/>
          <h:panelGroup layout="block" style="width: 100%">
            <p:commandButton ajax="false"
                             value="Add Application Context"
                             action="#{newApplicationContextController.addApplicationContext()}"/>
            <p:commandButton ajax="false"
                             value="Cancel"
                             style="float: right; margin-right: 1.5%"
                             action="#{newApplicationContextController.endNewApplicationContext()}"/>
          </h:panelGroup>
        </h:form>
      </p:panel>
    </pe:layoutPane>
  </ui:composition>
</html>

