<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>

    <p:growl life="15000">
      <p:autoUpdate />
    </p:growl>

    <h:outputScript name="script.js" library="js" target="head"/>

    <pe:layoutPane id="leftLayoutPanel"
                   position="west"
                   resizable="true"
                   closable="true"
                   size="550">
      <ui:include src="/templates/applicationcontext/application-contexts.xhtml"/>
      <ui:include src="/templates/configprojects/select-configproject.xhtml"/>
      <ui:include src="/templates/namespace/namespaces.xhtml"/>
    </pe:layoutPane>

    <pe:layoutPane id="namespacePanel" position="center" resizable="true">
      <h:form>
        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
          <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
          <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
      </h:form>
      <h:form>
        <input id="active_config_id" type="hidden" name="config_id" />
        <p:remoteCommand name="onConfigSelected"
                         actionListener="#{configurationController.onConfigurationSelected()}"
                         process="@form"
                         global="false"/>
      </h:form>
      <h:form>
        <p:remoteCommand name="updateConfigurations"
                         process="@form"
                         global="false"
                         update=":configNamesPanel"
                         oncomplete="registerConfigurationNamesTabChangeEvent()"/>
      </h:form>
      <p:panel  id="configurationDetailPanel"
                header="#{namespaceController.currentNamespaceDisplayName}">
        <div class="header-panel search-header">
          <h:form>
            <p:inputText placeholder="Search by config name (Current selected namespace)"
                         value="#{configurationController.configNameSearchQuery}">
              <p:ajax event="keyup"
                      global="false"
                      listener="#{configurationController.doSearchConfigurations()}"
                      oncomplete="updateConfigurationOnSuccess(args);" />
            </p:inputText>
          </h:form>
        </div>
        <ui:param name="namespaceDescription" value="#{namespaceController.currentNamespaceDescription}"/>
        <ui:fragment rendered="#{!empty namespaceDescription}">
          <p>
            <!--We use inside div cause someone can decide to use <p> somewhere-->
            <div class="header-panel namespaceDescription">
              <h:outputText value="#{namespaceDescription}" escape="false"/>
            </div>
          </p>
        </ui:fragment>
        <p:accordionPanel id="configNamesPanel"
                          value="#{configurationController.currentConfigurations}"
                          var="config"
                          activeIndex="#{configurationController.configActiveTab}"  >
          <p:tab id="configurationTab"
                 title="#{config.configName}"
                 titleStyle="conf_#{config.configId}"
                 titleStyleClass="conf_title_#{configurationStateController.isDeprecated(config)}">

            <ui:include src="configuration/config.xhtml">
              <ui:param name="config" value="#{config}"/>
            </ui:include>

          </p:tab>
        </p:accordionPanel>
      </p:panel>
    </pe:layoutPane>

    <pe:layoutPane position="south" size="200">
      <ui:include src="/templates/menu.xhtml"/>
    </pe:layoutPane>

    <ui:include src="/templates/access/new-account-user.xhtml"/>
    <ui:include src="/templates/configuration/upload-configurations.xhtml"/>
  </ui:composition>
</html>

