<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  <ui:composition>
    <h:form>
      <p:dock>
        <p:menuitem ajax="false"
                    value="Add Application Context"
                    icon="/resources/img/appcontext.png"
                    action="#{newApplicationContextController.prepareNewApplicationContext()}"/>
        <p:menuitem ajax="false"
                    value="Add Config Project"
                    icon="/resources/img/projects.png"
                    action="#{configProjectDataController.prepareCreateConfigProjectData()}"/>
        <p:menuitem ajax="false"
                    value="Add Dynamic Additional Parameters"
                    icon="/resources/img/dynamic-parameter.png"
                    action="#{dynamicAdditionalParameterController.prepareAddNewAdditionalParameter()}"/>
        <p:menuitem value="Add User Account"
                    icon="/resources/img/accountusers.png"
                    oncomplete="PF('newUserAccountDlg').show();"
                    actionListener="#{accountUserController.prepareAddAccountUser()}"/>
        <p:menuitem value="Upload Configuration"
                    icon="/resources/img/kh-upload.png"
                    oncomplete="PF('uploadConfigurationDlg').show();"/>
        <p:menuitem ajax="false"
                    value="Log out"
                    icon="/resources/img/logout.png"
                    action="#{accountUserController.logout()}"/>
      </p:dock>
    </h:form>
  </ui:composition>
</html>