<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
  <ui:composition>
    <pe:layoutPane id="namespacePanel" position="center">
      <p:panel  header="Dynamic Additional Parameters" style="width: 70%; margin: auto" styleClass="app-context">
        <p:dataTable value="#{dynamicAdditionalParameterController.dynamicAdditionalParameters}"
                     var="ap"
                     rowKey="#{ap.paramId}">
          <p:column style="width: 20px">
            <p:rowToggler/>
          </p:column>
          <p:column headerText="Parameter Key" style="width: 20%">#{ap.parameterKey}</p:column>
          <p:column headerText="Parameter Default Value" style="width: 20%">#{ap.defaultValue}</p:column>
          <p:column headerText="Parameter Description">#{ap.parameterDescription}</p:column>
        </p:dataTable>

        <h:form id="newDynamicAdditionalParameterForm">
          <p>
            Even though parameter keys are not unique, for dynamic additional parameters,
            it is recommended that they be unique, as they are not associated with individual
            configurations, but with all configurations from all namespaces and applciationcontexts
          </p>
          <p:separator/>

          <p:outputLabel value="Parameter Key" for="parameterKey"/>
          <p:inputText id="parameterKey"
                       required="true"
                       requiredMessage="Please enter the parameter key"
                       value="#{dynamicAdditionalParameterController.paramaterKey}"/>

          <p:outputLabel value="Parameter Default Value" for="defaultParameterValue"/>
          <p:inputText id="defaultParameterValue"
                       value="#{dynamicAdditionalParameterController.defaultParameterValue}"/>

          <p:outputLabel value="Parameter Description" for="parameterDescription"/>
          <p:inputTextarea id="parameterDescription"
                           style="height: 50px; width: 98.5%; margin-top: 10px"
                           value="#{dynamicAdditionalParameterController.parameterDescription}"/>

          <p:separator/>
          <p:commandButton ajax="false"
                           style="float: left; margin-right: 1.5%"
                           value="Save"
                           action="#{dynamicAdditionalParameterController.addNewAdditionalParameter()}"
                           update="@all"/>
        </h:form>
        <h:form>
          <p:commandButton ajax="false"
                           value="Back"
                           partialSubmit="true"
                           process="@this"
                           style="float: left; margin-right: 1.5%"
                           actionListener="#{dynamicAdditionalParameterController.cancelAddNewDynamicAdditionalParameter()}"
                           oncomplete="location.reload(true);"/>
        </h:form>
        <div class="clear"></div>
      </p:panel>
    </pe:layoutPane>

    <style>
      .ui-datatable table thead{
        display: table-header-group;
      }
    </style>
  </ui:composition>
</html>