<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <pe:layoutPane id="namespacePanel" position="center" >
          <div class="login">
            <h:form>
              <br/>
              <br/>
              <p:messages />
              <br/>
              <p:panelGrid columns="2" style="width: 100%">
                <h:outputText value="Login Id:"/>
                <p:inputText value="#{accountUserController.loginId}" style="width: 98%"/>
                <h:outputText value="Password:"/>
                <p:password value="#{accountUserController.password}" style="width: 98%"/>
              </p:panelGrid>
              <br/>
              <p:commandButton ajax="false" value="Login" action="#{accountUserController.login()}"
                               style="width: 200px; margin-left: 10px"/>
              <br/>
              <br/>
            </h:form>
          </div>
    </pe:layoutPane>
  </ui:composition>
</html>

