<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <ui:composition>
    <p:dialog widgetVar="newUserAccountDlg" modal="true"
              header="New User Account" id="newUserAccountDialog">
      <h:form>
        <p:panelGrid columns="2" style="width: 600px">
          <h:outputLabel value="Application Modes" for='applicationModes'/>
          <p:selectManyMenu id="applicationModes" style="width: 400px"
                            value="#{accountUserController.selectedApplicationModes}"
                            showCheckbox="true"
                            required="true" requiredMessage="You must select at least one application mode for this user.">
            <f:selectItems value="#{accountUserController.loggedInAccountApplicationModes}"/>
          </p:selectManyMenu>
          <h:outputLabel value="Login ID" for="loginId"/>
          <p:inputText id="loginId" value="#{accountUserController.newUserAccount.loginId}" style="width: 400px"/>
          <h:outputLabel value="Password" for="password"/>
          <p:password id="password" value="#{accountUserController.newUserAccount.password}" style="width: 400px"/>
        </p:panelGrid>
        <br/>
        <p:commandButton value="Add Account User"
                         actionListener="#{accountUserController.addAccountUser()}"
                         oncomplete="setTimeout(function(){location.reload(true);}, 500);"/>
      </h:form>
    </p:dialog>
  </ui:composition>
</html>

