<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <ui:param name="infoValues" value="#{config.additionalInformations}"/>
    <ui:repeat value="#{infoValues}" var="info">
      <div style="background: #efefef; padding: 5px; font-style: italic; margin-bottom: 10px">
        <h:outputText value="#{info.infoValue}" escape="false"/>
      </div>
    </ui:repeat>
  </ui:composition>
</html>

