<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  <ui:composition>
    <h:panelGroup id="namespacePanelBlock" layout="block" style="width: 100%; display: inline-block">
      <p:accordionPanel activeIndex ="0" id="namespaceAccordionPanel">
        <p:tab title="Namespaces" id="namespaceTabPanel">
          <h:form id="namespaceSearchForm">
            <p:separator/>
            <p:inputText value="#{namespaceController.searchQuery}"
                         styleClass="searchNamespace"
                         placeholder="Search Namespaces">
              <p:ajax event="keyup"
                      global="false"
                      update=":configurationDetailPanel :namespaceAccordionPanel:namespaceSelectionForm"
                      listener="#{namespaceController.searchNamespaces()}"
                      oncomplete="registerConfigurationNamesTabChangeEvent();"/>
            </p:inputText>
            <p:separator/>
          </h:form>
          <br/>
          <h:form id="namespaceSelectionForm">
            <p:tree value="#{namespaceController.rootNamespaceTree}"
                    var="namespace"
                    selectionMode="single"
                    selection="#{namespaceController.selectedNamespaceTree}">
              <p:ajax event="select"
                      update=":configurationDetailPanel"
                      listener="#{namespaceController.onNamespaceSelected()}"
                      oncomplete="registerConfigurationNamesTabChangeEvent();"/>
              <p:treeNode expandedIcon="ui-icon-folder-open"
                          collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{namespace.displayName}"/>
              </p:treeNode>
              <p:treeNode type="child" icon="ui-icon-document">
                <h:outputText value="#{namespace.displayName}"/>
              </p:treeNode>
            </p:tree>
          </h:form>
        </p:tab>
      </p:accordionPanel>
    </h:panelGroup>
  </ui:composition>
</html>
