<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
    <title>#{applicationContextController.headerText}</title>
  </h:head>
  <h:body>
    <h:outputStylesheet name="styles.css" library="css"/>
    <p:ajaxStatus onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"/>
    <p:dialog modal="true" widgetVar="statusDialog" header="Please wait ......"
              draggable="false" closable="false" width="400">
      <p:graphicImage name="ajax-loader.gif" library="img" />
    </p:dialog>
    <pe:layout id="layoutPanel" fullPage="true" style="width: 100%">
      <pe:layoutPane position="north" size="65" styleContent="padding: 0px">
        <div class="main">
          <div class="header-panel">
            <span class="left title">#{applicationContextController.headerText}</span>
            <ui:param name="enabledApplicationModesCount"
                      value="#{applicationContextController.enabledApplicationModesCount}"/>
            <ui:param name="showEnabledApplicationModes" value="#{enabledApplicationModesCount > 1}"/>
            <h:form rendered="#{showEnabledApplicationModes}">
              <ui:repeat value="#{applicationContextController.enabledApplicationModes}" var="m" >
                <p:commandLink value="#{m.name()}"
                               title="#{m.domain}"
                               styleClass="modes cur-active"
                               rendered="#{applicationContextController.isCurrentApplicationMode(m)}"/>
                <p:commandLink ajax="false"
                               value="#{m.name()}"
                               title="#{m.domain}"
                               styleClass="modes"
                               action="#{applicationContextController.showApplicationMode(m)}"
                               rendered="#{not applicationContextController.isCurrentApplicationMode(m)}"/>
              </ui:repeat>
            </h:form>
          </div>
        </div>
      </pe:layoutPane>
      <ui:include src="#{navigationController.navigationTemplate}"/>
    </pe:layout>
  </h:body>
</html>
