<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
    <title>#{applicationContextController.headerText}</title>
  </h:head>
  <h:body>
    <h:outputStylesheet name="styles.css" library="css"/>
    <p:ajaxStatus onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"/>
    <p:dialog modal="true" widgetVar="statusDialog" header="Please wait ......"
              draggable="false" closable="false" width="400">
      <p:graphicImage name="ajax-loader.gif" library="img" />
    </p:dialog>
    <pe:layout id="layoutPanel" fullPage="true">
      <pe:layoutPane position="north" size="65" styleContent="padding: 0px">
        <div class="main">
          <div class="header-panel">
            <span class="left title">#{applicationContextController.headerText}</span>
            <h:form>
              <ui:repeat value="#{applicationContextController.enabledApplicationModes}" var="m" >
                <p:commandLink value="#{m.name()}" title="#{m.domain}" styleClass="modes cur-active"
                               rendered="#{applicationContextController.isCurrentApplicationMode(m)}"/>
                <p:commandLink value="#{m.name()}" title="#{m.domain}" styleClass="modes"
                               actionListener="#{applicationContextController.showApplicationMode(m)}"
                               rendered="#{not applicationContextController.isCurrentApplicationMode(m)}"
                               oncomplete="location.reload(true);"/>
              </ui:repeat>
            </h:form>
          </div>
        </div>
      </pe:layoutPane>
      <pe:layoutPane id="namespacePanel" position="center" >
        <p>An error has occurred while handling this request</p>
      </pe:layoutPane>
    </pe:layout>
  </h:body>
</html>

