<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <style type="text/css">
            .array-data table tbody tr td:first-child,
            .array-data table thead tr th:first-child
            {
                width: 20px !important;
            }
            .array-data table tbody tr td:last-child,
            .array-data table thead tr th:last-child
            {
                width: 40px !important;
            }
        </style>
        <h:panelGroup id="arrayPanel" styleClass="array-data">
            <ui:param name="isEnum" value="#{configurationStateController.isEnum(config)}"/>

            <p:separator/>
            <ui:fragment rendered="#{isEnum}">
                <p:dataTable value="#{configurationController.getArrayEnumValues(value)}"
                             var="v"
                             emptyMessage="There are currently no values for #{config.configName}"
                             rowIndexVar="i"  
                             rowKey="#{v.enumName}"
                             draggableRows="true">
                    <p:ajax event="rowReorder" 
                            listener="#{configurationController.onRowReorder}"
                            oncomplete="updateConfigurationOnSuccess(args);"/>
                    <p:column style="width: 20px">#{i + 1}</p:column>
                    <p:column>
                        #{v.displayName}
                    </p:column>
                    <p:column style="width: 30px">
                        <p:commandButton icon="ui-icon-circle-close"
                                         title="delete this value"
                                         process="@this"
                                         update="@form"
                                         actionListener="#{configurationController.deleteArrayValue(value, v.enumName)}"/>
                    </p:column>
                </p:dataTable>
                <p:separator/>
                <select style="width: 100%;" name="#{valueComponentName}">
                    <option value="">(Select Options Here)</option>
                    <ui:repeat value="#{configurationController.getArrayEnumValuesForSelection(value)}" var="enum">
                        <option value="#{enum.enumName}">#{enum.displayName}</option>
                    </ui:repeat>
                </select>
            </ui:fragment>

            <ui:fragment rendered="#{!isEnum}">
                <p:dataTable value="#{configurationController.getArrayValues(value)}"
                             var="v" 
                             rowIndexVar="i"
                             emptyMessage="There are currently no values for #{config.configName}"
                             draggableRows="true">
                    <p:ajax event="rowReorder" 
                            listener="#{configurationController.onRowReorder}"
                            oncomplete="updateConfigurationOnSuccess(args);"/>
                    <p:column>#{i + 1}</p:column>
                    <p:column>#{v}</p:column>
                    <p:column>
                        <p:commandButton icon="ui-icon-circle-close"
                                         title="delete this value"
                                         process="@this"
                                         update="@form"
                                         actionListener="#{configurationController.deleteArrayValue(value, v)}"/>
                    </p:column>
                </p:dataTable>
                <ui:param name="isNamespaceParam" value="#{configurationStateController.isNamespaceParam(config)}"/>
                <ui:fragment rendered="#{!isNamespaceParam}">
                    <input type="text" name="#{valueComponentName}" style="width: 98%;" />
                </ui:fragment>
                <ui:fragment rendered="#{isNamespaceParam}">
                    <ui:include src="namespace-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>
            </ui:fragment>
            <p:separator/>

        </h:panelGroup>
    </ui:composition>
</html>

