<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <select style="width: 98%;" name="#{valueComponentName}">
      <ui:fragment rendered="#{value.booleanValue}">
        <option value="true" selected="true">True</option>
        <option value="false" >False</option>
      </ui:fragment>
      <ui:fragment rendered="#{!value.booleanValue}">
        <option value="true">True</option>
        <option value="false" selected="true">False</option>
      </ui:fragment>
    </select>
  </ui:composition>
</html>

