<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <select style="width: 98%;" name="#{valueComponentName}">
      <option value="">---</option>
      <ui:repeat value="#{configurationStateController.getEnums(config)}" var="enum">
        <ui:param name="isCurrentEnum" value="#{enum.enumName == value.configValue}"/>
        <ui:fragment rendered="#{isCurrentEnum}">
          <option value="#{enum.enumName}" selected="true">#{enum.displayName}</option>
        </ui:fragment>
        <ui:fragment rendered="#{!isCurrentEnum}">
          <option value="#{enum.enumName}">#{enum.displayName}</option>
        </ui:fragment>
      </ui:repeat>
    </select>
  </ui:composition>
</html>

