<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <select style="width: 98%;" name="#{valueComponentName}">
      <option value="">---</option>
      <ui:repeat value="#{namespaceController.allNamespaces}" var="namespace">
        <ui:param name="isCurrentNamespace" value="#{namespace == value.configValue}"/>
        <ui:fragment rendered="#{isCurrentNamespace}">
          <option value="#{namespace}" selected="true">#{namespace}</option>
        </ui:fragment>
        <ui:fragment rendered="#{!isCurrentNamespace}">
          <option value="#{namespace}">#{namespace}</option>
        </ui:fragment>
      </ui:repeat>
    </select>
  </ui:composition>
</html>

