<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <ui:param name="isMaxLengthSpecified"
              value="#{configurationStateController.isMaxLengthSpecified(config)}"/>
    <ui:param name="isPassword"
              value="#{configurationStateController.isPassword(config)}"/>
    <ui:fragment rendered="#{isPassword}">
      <input type="password" name="#{valueComponentName}" value="#{value.configValue}" style="width: 99%;"/>
    </ui:fragment>
    <ui:fragment rendered="#{not isPassword}">
      <ui:fragment rendered="#{isMaxLengthSpecified}">
        <ui:param name="maxLength" value="#{configurationStateController.getMaxLength(config)}"/>
        <input type="text" name="#{valueComponentName}" value="#{value.configValue}" style="width: 99%;"
               maxlength="maxLength"/>
      </ui:fragment>
      <ui:fragment rendered="#{!isMaxLengthSpecified}">
        <input type="text" name="#{valueComponentName}" value="#{value.configValue}" style="width: 99%;"/>
      </ui:fragment>
    </ui:fragment>
  </ui:composition>
</html>

