<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions">
  <ui:composition>
    <input type="hidden" name="#{valueComponentName}" value="true"/>
    <span class="khameleon-richtexteditor" data-name="#{valueComponentName}">
      <pe:ckEditor  value="#{value.configValue}" width="100%"/>
    </span>
  </ui:composition>
</html>

