<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <ui:param name="isMaxLengthSpecified" value="#{configurationStateController.isMaxLengthSpecified(config)}"/>
        <ui:fragment rendered="#{isMaxLengthSpecified}">
            <ui:param name="maxLength" value="#{configurationStateController.getMaxLength(config)}"/>
            <textarea onkeyup="auto_grow(this);" name="#{valueComponentName}" style="width: 98%;" maxlength="#{maxLength}">#{value.configValue}</textarea>
        </ui:fragment>
        <ui:fragment rendered="#{!isMaxLengthSpecified}">
            <textarea onkeyup="auto_grow(this);"  name="#{valueComponentName}" style="width: 98%;">#{value.configValue}</textarea>
        </ui:fragment>

        <style>
            textarea {
                resize: none;
                overflow: hidden;
                min-height: 15px;
                max-height: 100px;
            }
        </style>
        <script>
            function auto_grow(element) {
                element.style.height = "5px";
                element.style.height = (element.scrollHeight) + "px";
            }
        </script>
    </ui:composition>
</html>

