/*
    Created on : Jun 7, 2014, 12:29:36 PM
    Author     : marembo
*/

html, body, div.main{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #eee;
}
html, body, span, div, a, input, textarea, select, option, fieldset, legend, label{
    font-size: 12px;
}
div.main{
    padding: 0.1%;
    width: 99.8%;
    font-size: 13px !important;
}
div.main.detail{
    padding: 1%;
    width: 98%;
}
.left{
    float: left;
}
.right{
    float: right;
}
div.main .left-panel, div.main .right-panel{
    padding: 0.5%;
    background: #fff;
    border: 4px solid #fefefe;
}
div.main .left-panel{
    width: 30%;
}
div.main .right-panel{
    width: 65%;
    margin-left: 1%;
}
.configurationsTable table thead{
    display: none;
}
.configurationsTable table, .configurationsTable table tr, .configurationsTable table td, .configurationsTable table tbody{
    border: 0px none;
}
.header-panel{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    background: #A9BFFF;
}

.header-panel.search-header {
    height: auto;
    color: #fff;
    font-weight: bold;
    padding: 10px 1%;
    width: 98%;
    height: 13px;
    margin-bottom: 30px;
}

.header-panel.search-header input[type="text"]{
    width: 97%;
    padding: 1%;
    float: left;
}

.header-panel a.modes{
    float: right;
    background: #666;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    border: 0px none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}
.header-panel a.modes.cur-active{
    background: #ccc;
}
.header-panel span.title{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #fef4ef;
}
.ui-layout-unit .ui-layout-unit-content{
    padding: 0px;
}
.ui-tree{
    border: 0px;
}
.ui-tree .ui-tree-container{
    overflow: visible;
    height: auto;
    width: auto;
}
.ui-accordion .ui-accordion-header.ui-state-default,
.ui-accordion .ui-accordion-header.ui-widget-content .ui-state-default{
    background: #fff;
}
.ui-accordion .ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-widget-content .ui-state-active{
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
}
.clear{
    clear: both;
}
.ui-tree .ui-treenode-label{
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 5px;
}
.ui-datatable-odd {
    background: none repeat scroll 0 0 #cdfdcd;
}
.ui-panel .ui-panel-title {
    color: #666;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal;
}
.ui-accordion .ui-accordion-content{
    overflow-x: hidden;
}
#configNamesPanel.ui-accordion .ui-accordion-header.ui-state-default{
}

.mpage{
    background: #fff;
    position: static;
    width: 100%;
    height: 100%;
}

.page{
    position: static;
    width: 44%;
    top: 0;
    left: 0;
    padding: 16% 28%;
    background: rgba(0, 0, 0, 0.3)
}

.page .login{
    width: 100%;
    background: #fff;
}

.cke_skin_kama .cke_contents{
    overflow-y: auto;
    height: 400px !important;
}

form.search-parameter .ui-panelgrid tr,
form.search-parameter .ui-panelgrid tr td{
    border: 0px none !important;
}

.upload-configurations{
    width: 600px;
}

.upload-configurations .ui-fileupload-content{
    max-height: 200px !important;
    overflow-y: auto !important;
}
.ui-tree,
.ui-tree .ui-treenode{
    width: 100% !important;
    padding-left: 0px;
    margin-left: 2px;
}
.app-context .ui-tree,
.app-context .ui-tree .ui-treenode{
    width: 96% !important;
    padding-left: 0px;
    margin-left: 2px;
}

select {
    width: 98%;
    padding: 5px 1%;
    background: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="text"], input[type="password"]{
    width: 98%;
    padding: 5px 0.7%;
    background: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.new-config-value {
    box-shadow: 0 0 3px 3px #eee;
    padding: 10px;
    margin-bottom: 20px;
}

.config-value {
    border-bottom: 1px solid #efefef;
    box-shadow: 0 0 1px 1px #aaa;
    padding: 10px;
}

.config-name-title {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    font-weight: bold;
}

.delete-btn {
    position: absolute;
    right: 3px;
    top: -2px;
    border-radius: 20px;
}

.add-config-value-panel {
    height: auto;
    color: #fff;
    font-weight: bold;
    padding: 10px 1%;
    width: 98%;
    height: 13px;
}

.ui-datatable table thead {
    display: none;
}

.ui-button.btn-config{
    border: 0px none;
    box-shadow: none;
    background: #85b2cb;
}

.ui-button.btn-config.delete-values{
    color: #cc0000;
    text-shadow: none;
    font-weight: bold;
}

.ui-inputfield.searchNamespace {
    box-shadow: none;
    text-shadow: none;
    width: 86%;
    padding: 2%;
    border: 2px solid #A9BFFF;
    color: #999;
    padding-right: 10%;
    background-size: 23px;
    background-position: 98% 4px;
    background-repeat: no-repeat;
    background-image: url(/resources/images/edit_find.png);
}

.conf_title_true {
    text-decoration: line-through !important;
}

.namespaceDescription {
    background: #dbefff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    height: auto;
    padding: 10px 1%;
    width: 98%;
}

.navigation .page {
    border: 0px none;
    padding: 3px;
    width: 30px;
    height: 20px;
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 1px 1px #aaa;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.navigation .page.previousPage {
    margin-right: 10px;
}

.navigation .page.nextPage {
    margin-left: 10px;
}

.navigation .pages {
    margin-left: 20px;
    clear: both;
    margin-bottom: 5px;
}

.navigation .page.active,
.navigation .page:hover {
    background-color: #eee;
}

.navigation .configValues {
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
}