<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <div style="position: relative">
            <br/>
            <br/>
            <h:form id="configurationForm" styleClass="configuration-form" >
                <p:messages id="messagePanel" closable="true"/>
                <ui:param name="config" value="#{value.configuration}"/>
                <ui:param name="valueComponentName" value="#{configurationController.getComponentName(value)}"/>
                <ui:param name="configName" value="#{config.configName}"/>
                <ui:param name="isNamespaceParam" value="#{configurationStateController.isNamespaceParam(config)}"/>
                <ui:param name="isEnum" value="#{configurationStateController.isEnum(config)}"/>
                <ui:param name="isText" value="#{configurationStateController.isText(config)}"/>
                <ui:param name="isRichText" value="#{configurationStateController.isRichText(config)}"/>
                <ui:param name="isBoolean" value="#{configurationStateController.isBoolean(config)}"/>
                <ui:param name="isArray" value="#{configurationStateController.isArray(config)}"/>

                <input type="hidden" name="#{valueComponentName}_NEWVALUE" value="#{newValue}"/>
                <input type="hidden" name="configValueId" value="#{value.valueId}"/>

                <!--Arrays which return enumerations are also enum!-->
                <ui:fragment rendered="#{isEnum and !isArray}">
                    <ui:include src="component/enum-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <!--Arrays which may return namespace from selection are ignored here!-->
                <ui:fragment rendered="#{isNamespaceParam and !isArray}">
                    <ui:include src="component/namespace-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:fragment rendered="#{isText}">
                    <ui:include src="component/text-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:fragment rendered="#{isRichText}">
                    <ui:include src="component/rich-text-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:fragment rendered="#{isBoolean}">
                    <ui:include src="component/boolean-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:fragment rendered="#{isArray}">
                    <ui:include src="component/array-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:fragment rendered="#{!isEnum and !isText and !isRichText and !isBoolean and !isArray and !isNamespaceParam}">
                    <ui:include src="component/normal-value.xhtml">
                        <ui:param name="value" value="#{value}"/>
                        <ui:param name="config" value="#{config}"/>
                        <ui:param name="valueComponentName" value="#{valueComponentName}"/>
                    </ui:include>
                </ui:fragment>

                <ui:param name="dynamicAdditionalParameters"
                          value="#{dynamicAdditionalParamaterValueController.getDynamicAdditionalParameters(value)}"/>

                <ui:fragment rendered="#{dynamicAdditionalParamaterValueController.hasItems(value)}">

                    <br/>
                    <br/>
                    <p:separator/>
                    <br/>
                    <br/>

                    <p:accordionPanel activeIndex="-1">
                        <p:tab title="Add Dynamic Additional Parameter">
                            <p>
                                Note that if an additional parameter with the same key already exists for the
                                configuration value, it will not be shown here.
                            </p>
                            <p:selectOneMenu value="#{dynamicAdditionalParamaterValueController.dynamicAdditionalParameter}"
                                             style="width: 100%">
                                <f:selectItems value="#{dynamicAdditionalParameters}" var="dap"/>
                                <p:ajax event="change"
                                        listener="#{dynamicAdditionalParamaterValueController.addDynamicAdditionalParameter(value)}"
                                        partialSubmit="true"
                                        process="@this"
                                        update="@form"/>
                            </p:selectOneMenu>
                        </p:tab>
                    </p:accordionPanel>
                </ui:fragment>
                <br/>
                <br/>
                <br/>

                <ui:include src="additionalparameter/additional-parameter.xhtml">
                    <ui:param name="config" value="#{config}"/>
                    <ui:param name="value" value="#{value}"/>
                </ui:include>
                <br/>

                <p:commandButton value="Update"
                                 onstart="setEditorContent('#{valueComponentName}')"
                                 actionListener="#{configurationController.saveConfigurationValue()}"
                                 oncomplete="updateConfigurationOnSuccess(args);"/>
            </h:form>

            <h:form rendered="#{!newValue}">
                <input type="hidden" name="configValueId" value="#{value.valueId}"/>

                <p:commandButton icon="ui-icon-close"
                                 styleClass="delete-btn"
                                 value="Delete"
                                 actionListener="#{configurationController.deleteConfigurationValue()}"
                                 oncomplete="updateConfigurationOnSuccess(args);"/>
            </h:form>
        </div>
    </ui:composition>
</html>

