<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <ui:param name="isAddConfigValue" value="#{configurationController.isAddConfigValue(config)}"/>

        <h:panelGroup layout="block" styleClass="header-panel add-config-value-panel" rendered="#{isAddConfigValue}">
            <p:commandButton value="Add Config Value..." styleClass="btn-config"
                             actionListener="#{configurationController.addConfigurationValue(config)}"
                             update="configurationsTable newConfigurationValuePanel"/>
            <p:commandButton value="Delete All Config Values..." styleClass="btn-config delete-values"
                             actionListener="#{configurationController.deleteAllConfigurationValues(config)}"
                             update="configurationsTable newConfigurationValuePanel">
                <p:confirm header="Confirm Delete" icon="ui-icon-alert"
                           message="Are you sure, you want to delete all configuration values?" />
            </p:commandButton>
        </h:panelGroup>

        <ui:include src="additionalparameter/search-by-additional-parameters.xhtml">
            <ui:param name="config" value="#{config}"/>
        </ui:include>

        <br/>
        <h:panelGroup id="newConfigurationValuePanel">
            <ui:fragment rendered="#{configurationController.hasNewConfigurationValue(config)}">
                <div class="new-config-value">
                    <ui:include src="config-value.xhtml">
                        <ui:param name="value" value="#{configurationController.newConfigurationValue}"/>
                        <ui:param name="newValue" value="true"/>
                    </ui:include>
                </div>
            </ui:fragment>
        </h:panelGroup>

        <ui:include src="additionalinformation/additional-information.xhtml">
            <ui:param name="config" value="#{config}"/>
        </ui:include>

        <ui:param name="valuesModel" value="#{configurationController.getConfigurationValues(config)}"/>
        <ui:param name="pageCounts" value="#{valuesModel.pageCounts}"/>
        <ui:param name="currentPage" value="#{valuesModel.currentPage}"/>

        <h:panelGroup layout="block" id="configurationsTable" styleClass="navigation">
            <ui:fragment rendered="#{pageCounts gt 1}">
                <div align="center" class="pages">
                    <div style="display: none">Current Page: #{currentPage}</div>
                    <h:form>
                        <p:commandLink ajax="false"
                                       value="&lt;&lt;"
                                       styleClass="page previousPage"
                                       actionListener="#{configurationController.onPreviousPage(config, currentPage)}"
                                       disabled="#{!valuesModel.showPrevious}"/>
                    </h:form>
                    <ui:repeat value="#{valuesModel.pageIndeces}" var="page">
                        <h:form>
                            <p:commandLink ajax="false"
                                           value="#{page}"
                                           styleClass="page #{valuesModel.isSelectedPage(page) ? 'active' : ''}"
                                           actionListener="#{configurationController.onPageSelected(config, page)}"/>
                        </h:form>
                    </ui:repeat>
                    <h:form>
                        <p:commandLink ajax="false"
                                       value="&gt;&gt;"
                                       styleClass="page nextPage"
                                       actionListener="#{configurationController.onNextPage(config, currentPage)}"
                                       disabled="#{!valuesModel.showNext}"/>
                    </h:form>
                </div>
            </ui:fragment>
            <table class="configValues">
                <ui:fragment rendered="#{pageCounts lt 1}">
                    <tr>
                        <td class="config-value">Please click on the Add Configuration Value above!</td>
                    </tr>
                </ui:fragment>
                <ui:repeat value="#{valuesModel.configurationValues}"
                           var="value"
                           varStatus="varStatus"
                           rendered="#{pageCounts gt 0}">
                    <tr class="#{varStatus.odd? 'ui-datatable-odd':'ui-datatable-even'}">
                        <td class="config-value">
                            <ui:include src="config-value.xhtml">
                                <ui:param name="value" value="#{value}"/>
                                <ui:param name="newValue" value="false"/>
                            </ui:include>
                        </td>
                    </tr>
                </ui:repeat>
            </table>
        </h:panelGroup>
    </ui:composition>
</html>

