<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <ui:composition>
    <p:dialog widgetVar="uploadConfigurationDlg" modal="true" header="Upload Configurations from file">
      <h:form enctype="multipart/form-data">
        <p:growl for="browseFiles"/>
        <p>Please do not upload the same file twice! It will not update rather, it will simply add new configuration values.</p>
        <p>The system fails if the configuration being added does not allow multiple values.</p>
        <p:panelGrid columns="2" styleClass="upload-configurations">
          <p:outputLabel value="Browse file" for="browseFiles"/>
          <p:fileUpload id="browseFiles" mode="advanced" multiple="true"
                        process="@form" 
                        oncomplete="PF('uploadConfigurationDlg').hide();"/>
        </p:panelGrid>
      </h:form>
    </p:dialog>
  </ui:composition>
</html>

