<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  <ui:composition>
    <ui:param name="isMultiple" value="#{configurationStateController.isMultiple(value)}"/>
    <ui:param name="paramValues" value="#{value.additionalParameterValues}"/>
    <p:panel header="Additional Parameters"
             collapsed="#{paramValues.size()>2}"
             toggleable="#{paramValues.size()>1}"
             rendered="#{isMultiple}">
      <p:panelGrid columns="1" style="width: 100%" >
        <ui:repeat value="#{paramValues}" var="p">
          <ui:param name="paramComponentName" value="#{configurationController.getComponentName(p)}"/>
          <ui:param name="param" value="#{p.additionalParameter}"/>
          <ui:param name="isNamespaceParam" value="#{additionalParameterStateController.isNamespaceParam(param)}"/>
          <ui:param name="isEnum" value="#{additionalParameterStateController.isEnum(param)}"/>
          <ui:param name="isBoolean" value="#{additionalParameterStateController.isBoolean(param)}"/>

          <h:panelGroup layout="block">
            <p style="background: #efefef; padding: 5px">#{param.parameterKey}</p>
            <p style="color: #aaa; font-style: italic">
              <h:outputText value="#{param.parameterDescription}" escape="false"/>
            </p>
          </h:panelGroup>

          <ui:fragment rendered="#{isEnum}">
            <ui:include src="component/enum-value.xhtml">
              <ui:param name="param" value="#{param}"/>
              <ui:param name="paramComponentName" value="#{paramComponentName}"/>
              <ui:param name="value" value="#{p}"/>
            </ui:include>
          </ui:fragment>

          <ui:fragment rendered="#{isNamespaceParam}">
            <ui:include src="component/namespace-value.xhtml">
              <ui:param name="param" value="#{param}"/>
              <ui:param name="paramComponentName" value="#{paramComponentName}"/>
              <ui:param name="value" value="#{p}"/>
            </ui:include>
          </ui:fragment>

          <ui:fragment rendered="#{isBoolean}">
            <ui:include src="component/boolean-value.xhtml">
              <ui:param name="param" value="#{param}"/>
              <ui:param name="paramComponentName" value="#{paramComponentName}"/>
              <ui:param name="value" value="#{p}"/>
            </ui:include>
          </ui:fragment>

          <ui:fragment rendered="#{!isEnum and !isBoolean and !isNamespaceParam}">
            <input type="text" name="#{paramComponentName}" value="#{p.parameterValue}" style="width: 99%" />
          </ui:fragment>
        </ui:repeat>
      </p:panelGrid>
    </p:panel>
  </ui:composition>
</html>

