<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ui:composition>
    <p:separator/>
    <p:accordionPanel activeIndex="-1" >
      <p:tab title="Search By Additional Parameter Values">
        <h:form class="search-parameter">
          <input type="hidden" name="configId" value="#{config.configId}"/>
          <p:panelGrid columns="2" style="width: 100%">
            <ui:repeat value="#{config.additionalParameters}" var="ap">
              <span>#{ap.parameterKey}</span>
              <input type="text" style="width: 100%"
                     name="#{configurationController.getComponentName(ap)}"/>
            </ui:repeat>
          </p:panelGrid>
          <br/>
          <p:commandButton value="Search" update=":configNamesPanel"
                           onstart="PF('configValueTables').clearFilters()"
                           actionListener="#{configurationController.doSearchConfigurationValues(config)}"/>
        </h:form>
      </p:tab>
    </p:accordionPanel>
    <p:separator/>
  </ui:composition>
</html>